---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

$text-color:       #111;
$background-color: #f7f7f3;
$brand-color:      rgb(31, 55, 10);
$light-green:      #4c8817;

$grey-color:       #50514f;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: rgb(31, 55, 10);
$theme-dark: rgb(31, 55, 10);
$theme-light: #708c57;
$theme-green: rgb(31, 55, 10);
$theme-blue: #247ba0;
$theme-purple: #390040;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

// Custom CSS

header {
  background-image: none;
  height: 100vh;
  color: $theme-green;
  min-height: 70%;
}

.header-content-inner {
  max-width: 800px;
  margin-top: 100px;
  text-align: right;
  display:flex;
  justify-content: center;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  img {
    max-width: 300px;
  }
  h1 {
    text-align: right;
  }
}

header .header-content .header-content-inner h1 {
  text-transform: none;
}


h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-weight: 300;
  margin-top: 40px;
}

h3 {
  font-size: 22px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  font-weight: 400;
}

#mainNav {

  background-color: rgba($theme-green, .9)
}

#research-header {
  background-image: url("/img/research.jpg");
  width: 100vw;
  height: 55vh;
  background-size: cover;
  background-position-y: bottom;
}

#tools-header {
  background-image: url("/img/tools.jpg");
  width: 100vw;
  height: 55vh;
  background-size: cover;
  background-position-y: bottom;
}

p {
  color: lighten($text-color, 40%);
  font-weight: 300;
}

section {
  padding: 50px;
}

section .row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-brand > img {
  display: inline;
  width: 20px;
  margin-right: 5px;
}

.navbar-right {
  margin-right: 20px;
}

.navbar-default.affix .navbar-header .navbar-brand{
  color: #fff;
}

.navbar-default.affix .nav > li > a {
  color: #fff;
}

.navbar-default .nav > li > a {
  color: #fff;
}

.navbar-default .nav > li > a:hover {
  color: $theme-light;
}

.navbar-default.affix .nav > li > a:hover {
  color: $theme-light;
}

.navbar-default .nav > li > a.active {
  color: $theme-light;
}

#relstructure {
  width: 100%;
  height: 350px;
}

#relprediction {
  width: 100%;
  height: 480px;
}

#whatwedo {
  img {
    max-width: 200px;
  }
}


@media (max-width: 1200px) {

    header {
      height: auto;
      .header-content {
        padding: 20px 15px 20px 15px;
        .header-content-inner {
          // margin-top: 50px;
          img {
            max-width: 200px;
          }
          h1 {
            padding-top: 30px;
          }
        }
      }
    }
    
    #relstructure {
      height: 600px;  
    }

    #relprediction {
      height: 810px;
    }

    #research-header {
      height: 30vh;
    }

    #story {
      img {
        max-width: 250px;
        margin-bottom: 40px;
      }
    }

    #book {
      img {
        max-width: 200px;
        margin-bottom: 40px;
      }
    }

    .navbar-brand {
        font-size: 14px;
        img {
          display: none;
        }
    }

    .navbar-default .navbar-header .navbar-brand {
      color: #fff;
    }

    .section-heading {
      margin-top: 30px;
    }
}

hr.primary {
  border-color: $theme-primary;
}

.text-white {
  color: #fff;
}

.text-light-grey {
  color: $grey-color-light;
}

.text-grey {
  color: $grey-color-dark;
}

.text-green {
  color: $theme-green;
}

.text-light-green {
  color: $light-green;
}

.text-red {
  color: darkred;
}

.text-blue {
  color: $theme-blue;
}

.text-dark {
  color: $theme-dark;
}

.text-purple {
  color: $theme-purple;
}

.fill-green {
  fill: $theme-green;
}

.light-bold {
  font-weight: 500;
}

.subtitle {
  font-size: 22px;
}

.subpage_header_img {
  max-width: 250px;
}

.bg-green {
  background-color: $theme-green;
}

.svg_icon {
  height: 84px;
}

.svg_icon_md {
  height: 56px;
}

.iframeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iframe {
  border: none;
}

.context-heading > h3 {
  margin-top: 5px;
}

.example {
  margin-left: 30px;
  margin-right: 30px;
  h4 {
    margin-top: 5px;  
  }
}

.fig-text {
  font-weight: 200;
  font-size: 14px;
}

.circle-crop {
    width: 100px;
    height: 100px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
}
.headshot {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.footer {
  font-size:11px;
  font-color:$grey-color-light;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
