---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

$text-color:       #111;
$background-color: #f7f7f3;
$brand-color:      rgb(31, 55, 10);

$grey-color:       #50514f;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: rgb(31, 55, 10);
$theme-dark: rgb(31, 55, 10);
$theme-light: #708c57;
$theme-green: rgb(31, 55, 10);
$theme-blue: #247ba0;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

// Custom CSS

header {
  background-image: none;
  height: 100vh;
  color: $theme-green;
}


h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-weight: 100;
}

h3 {
  font-size: 22px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  font-weight: 400;
}

#mainNav {

  background-color: rgba($theme-green, .25)
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#video-overlay {
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#research-header {
  background-image: url("/img/research.jpg");
  width: 100vw;
  height: 55vh;
  background-size: cover;
  background-position-y: bottom;
}

#tools-header {
  background-image: url("/img/tools.jpg");
  width: 100vw;
  height: 55vh;
  background-size: cover;
  background-position-y: bottom;
}

p {
  color: lighten($text-color, 40%);
}

section {
  padding: 50px;
}

section .row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-right {
  margin-right: 20px;
}

.navbar-default.affix .navbar-header .navbar-brand{
  color: #fff;
}

.navbar-default.affix .nav > li > a {
  color: #fff;
}

.navbar-default .nav > li > a {
  color: #fff;
}

.navbar-default .nav > li > a:hover {
  color: $theme-light;
}

.navbar-default.affix .nav > li > a:hover {
  color: $theme-light;
}

.navbar-default .nav > li > a.active {
  color: $theme-light;
}

@media (max-width: 800px) {

    #research-header {
      height: 30vh;
    }

    .navbar-brand {
        font-size: 14px;
    }

    .header-content {
      top: -70vh;
    }

    .navbar-default .navbar-header .navbar-brand {
      color: #fff;
    }
}

hr.primary {
  border-color: $theme-primary;
}

.text-white {
  color: #fff;
}

.text-light-grey {
  color: $grey-color-light;
}

.text-green {
  color: $theme-green;
}

.text-red {
  color: darkred;
}

.text-blue {
  color: $theme-blue;
}

.text-dark {
  color: $theme-dark;
}

.fill-green {
  fill: $theme-green;
}

.subtitle {
  font-size: 22px;
}

.bg-green {
  background-color: $theme-green;
}

.svg_icon {
  height: 84px;
}

.svg_icon_md {
  height: 56px;
}

.iframeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iframe {
  border: none;
}

.fig-text {
  font-weight: 200;
  font-size: 14px;
}

.circle-crop {
    width: 100px;
    height: 100px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
}
.headshot {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.footer {
  font-size:11px;
  font-color:$grey-color-light;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
