
<div class="row mt-60 text-center">
  <h3 class="mb-40">Advisors</h3>
  <div class="col-lg-4 text-center">
    <div class="circle-crop mx-auto">
      <img class="headshot" src="./img/adatwist.jpg"/>
    </div>
    <p>
      <b>Ada Twist</b><br/>
      <i class="text-muted">Scientist</i>
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <div class="circle-crop mx-auto">
      <img class="headshot" src="./img/rosie-revere.jpg"/>
    </div>
    <p>
      <b>Rosie Revere</b><br/>
      <i class="text-muted">Engineer</i>
    </p>
  </div>
  <div class="col-lg-4 text-center">
    <div class="circle-crop mx-auto">
      <img class="headshot" src="./img/iggypeck.png"/>
    </div>
    <p>
      <b>Iggy Peck</b><br/>
      <i class="text-muted">Architect</i>
    </p>
  </div>

</div>
