<section class="bg-green" id="book">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-4 text-center">
                <img src="img/book.jpg" class="img-fluid" style="width:300px" alt="Book cover for Relationality: How Moving from Transactional to Transformational Relationships Can Reshape Our Lonely World">
            </div>
            <div class="col-lg-6 text-left">
                <h2 class="section-heading text-center">Upcoming Book: Relationality</h2>
                <hr class="light">
                <div class="text-white mb-40">
                    <p><i>"At once radical and sensible, with the potential to mitigate a great deal of sadness and pain."</i><br/>
                    —ANDREW SOLOMON, author of Far From the Tree</p>
                </div>
                <div class="text-white mb-40">
                    <p><b>Relationships add immense value to our lives, yet the work of nurturing those relationships is all too often under-recognized and under-resourced.</b></p>
                    <p><i>Relationality</i> is for people who believe in the power of relationship but who struggle inside of institutions that cannot see that power. It equips professionals, activists, and community organizers with the knowledge they need to fight for resources and build organizational cultures that center the work of building relationship.</p> 
                    <p>The book includes:</p>

                    <ul class="mb-20">
                        <li>A history of why so many institutions fail to effectively invest in relationship</li>
                        <li>A framework for discussing effective measurement and impact reporting for relational work</li>
                        <li>A call to repair lineages of relational wisdom that have been extracted from and forgotten</li>
                        <li>A guide to creating the conditions for relationship that draws from both scientific research and established organizing practice</li>
                        <li>A vision for how the world might radically change if those who nurture relationship are rewarded for the value that they create</li>
                    </ul>
                    <p>With isolation and loneliness on the rise, <i>Relationality</i> offers a roadmap toward a world of abundant connection: one where individuals, organizations, and democratic societies know how to invest in the relationships they need to thrive.</p>

                    <p><i>Relationality</i> is published by <a class="text-white" href="https://www.northatlanticbooks.com/">North Atlantic Books</a> and will be available on August 27th, 2024.</p>
                </div>
                <h3 class="text-center text-white">Pre-order Now</h3>
                <hr class="light">
                <div class="text-center">
                    <a href="https://bookshop.org/p/books/relationality-a-framework-for-shaping-our-world-through-connection-from-personal-bonds-to-social-movements-david-jay/20916011?ean=9798889840541" target="_blank" class="btn btn-primary" data-umami-event="paperback-click">Paperback</a>
                    <a href="https://libro.fm/audiobooks/9798889841838-relationality" target="_blank" class="btn btn-primary" data-umami-event="audio-click">Audiobook</a> <br/>
                    <a href="https://www.kobo.com/us/en/ebook/relationality-6" target="_blank" class="btn btn-primary" data-umami-event="kobo-click">Kobo</a>                    
                    <a href="https://www.amazon.com/gp/product/B0CP3G4WH8?tag=randohouseinc7986-20" target="_blank" class="btn btn-primary" data-umami-event="kindle-click">Kindle</a>
                    <a href="https://books.apple.com/us/book/relationality/id6473226578" target="_blank" class="btn btn-primary" data-umami-event="apple-click">Apple Books</a>  
                    <a href="https://play.google.com/store/books/details?id=mr3lEAAAQBAJ" target="_blank" class="btn btn-primary" data-umami-event="gplay-click">Google Play</a>                                        
                           
            </div>
        </div>
    </div>
</section>