<section class="bg-green" id="book">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-4 text-center">
                <img src="img/book.png" class="img-fluid" style="width:300px" alt="Book cover for Relationality: How Moving from Transactional to Transformational Relationships Can Reshape Our Lonely World">
            </div>
            <div class="col-lg-6 text-left">
                <h2 class="section-heading text-center">Upcoming Book</h2>
                <hr class="light">
                <p class="text-white"><i>Relationality</i> is a book for anyone who has ever struggled with an institution that fails to recognize the importance of building and maintaining relationships. From social movement history to queer conceptions of family to the scientific properties of relational systems, <i>Relationality</i> explores how we create the conditions for relationship. This work is often invisible to people and institutions who are used to surviving through transaction. By pulling back that veil of invisibility we can profoundly transform our world for the better.</p> 
                <h3 class="text-center text-white">Pre-order now</h3>
                <hr class="light">
                <div class="text-center">
                    <a href="https://bookshop.org/p/books/relationality-a-framework-for-shaping-our-world-through-connection-from-personal-bonds-to-social-movements-david-jay/20916011?ean=9798889840541" target="_blank" class="btn btn-primary">Paperback</a>
                    <a href="https://libro.fm/audiobooks/9798889841838-relationality" target="_blank" class="btn btn-primary">Audiobook</a> <br/>
                    <a href="https://www.kobo.com/us/en/ebook/relationality-6" target="_blank" class="btn btn-primary">Kobo</a>                    
                    <a href="https://www.amazon.com/gp/product/B0CP3G4WH8?tag=randohouseinc7986-20" target="_blank" class="btn btn-primary">Kindle</a>
                    <a href="https://books.apple.com/us/book/relationality/id6473226578" target="_blank" class="btn btn-primary">Apple Books</a>  
                    <a href="https://play.google.com/store/books/details?id=mr3lEAAAQBAJ" target="_blank" class="btn btn-primary">Google Play</a>                                        
                           
            </div>
        </div>
    </div>
</section>