<section class="bg-green" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white" style="font-size: 50px">Relational Measurement Lab</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">Lorem ipsum dolor sit <span class="text-white">amet curabitur duis</span> nullam curabitur elit morbi <span class="text-white">eget vestibulum elit</span> enim duis sagittis aliquam congue urna risus <span class="text-white">fames phasellus nisi</span>.</p>
                <p class="text-light-grey subtitle">Vel tellus proin id labore eleifend tincidunt lobortis mattis egestas neque scelerisque dictumst.</p>
                <a href="#" class="btn btn-default btn-xl">Join Our Newsletter</a>
            </div>
        </div>
    </div>
</section>
