<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Relational Measurement Lab</h2>
                <hr class="light">
                <p class="text-white text-lg">We create scientific methodologies and practical tools that enable people who build community to demonstrate the impact of their work.</p>
                <a href="#" class="btn btn-default btn-xl">Join Our Newsletter</a>
            </div>
        </div>
    </div>
</section>
