<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading" style="font-size: 50px">Relational Measurement Lab</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">We create <span class="text-white">scientific methodologies</span> and <span class="text-white">practical tools</span> that enable<br/> <span class="text-white">people who build community</span> to demonstrate the <span class="text-white">impact of their work</span>.</p>
                <a href="#" class="btn btn-default btn-xl">Join Our Newsletter</a>
            </div>
        </div>
    </div>
</section>
