<section class="bg-green" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white">Contact Us</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">Vel tellus proin id labore eleifend tincidunt lobortis mattis egestas neque scelerisque dictumst.</p>
                <a id="contact" href="#" class="btn btn-default btn-xl">Reach Out</a>
            </div>
        </div>
    </div>
</section>
