<section class="bg-green" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white">Contact Us</h2>
                <hr class="light">
                <form id="contactForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-1">
                              <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="col-lg-5">
                                <input class="form-check-input" type="checkbox" name="newsletter" checked id="newsletterCheck">
                                <label class="form-check-label text-white" for="newsletterCheck">
                                    Keep me informed about Relationality Lab.
                                  </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-1">
                              <input type="text" class="form-control" name="firstname" placeholder="First name">
                            </div>
                            <div class="col-lg-5">
                              <input type="text" class="form-control" name="lastname"  placeholder="Last name">
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-1">
                              <input type="text" class="form-control" name="organization"  placeholder="Organization">
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="role"  placeholder="Role">
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <textarea class="form-control" name="comment" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Get in Touch</button>
                </form>
                <div id="contactThanks" style="display:none">
                    <h2 class="section-heading text-white">Thanks!</h2>
                </div>
            </div>
        </div>
    </div>
</section>
