<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
          <i class="fas fa-abacus"></i>
          <h3>Theory</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <i class="fa-solid fa-4x fa-clipboard-check"></i>
            <h3>Practice</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <i class="fa-sharp fa-4x fa-solid fa-users-line"></i>
            <h3>Convening</h3>
        </div>

    </div>
</section>
