<div id="datapractice-header" class="subpage"></div>
<section>
  <div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <img class="subpage_header_img" src="./img/datapractice.png" />
        <h1 class="section-heading" style="font-size: 50px">
          Relational Data Practice
        </h1>
        <h2 class="text-muted">
          How to combine stories and data to demonstrate the impact of
          relational work.
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div>
    <p>
      <b>Data matters.</b> Whether you work in a frontline service organization,
      a tech startup with a mission, or a political campaign, data is probably
      at the core of how you, your bosses and your funders make informed
      decisions. To do your work, you need people to trust that that work is
      effective and data is one of the most important tools for earning that
      trust. It also lets you test your own assumptions about what is and is not
      working so that you can better create the changes you want to see in the
      world. Without data, trust is earned and decisions are made through a mix
      of anecdotes and charisma, both of which matter but can be dangerous, like
      data can be dangerous, if used exclusively. But data about relationship
      formation does not work like other forms of data. When our goal is to get
      a network of people to trust one another, support one another, and make
      powerful things happen together traditional data practices can be
      counterproductive. To understand why, and to understand the alternative,
      it helps to have an understanding of how relationships can and can’t be
      measured.
    </p>
    <h2>Why KPIs are the wrong way to measure community</h2>
    <p>
      Imagine a cupcake factory. You know exactly what you want it to produce:
      cupcakes of precise dimensions with just the right twirl of frosting on
      top that are delicious and pass food safety tests with flying colors. All
      of your measurements flow from this ability to predict your desired end
      state. How many cupcakes did you make? How many had flaws of some sort?
      How much did they cost on average? Measuring these things and tracking
      them over time helps you understand when you need to go in to tweak your
      factory or bring in better machines to make your cupcake production more
      efficient. Measurement is about understanding where to exert control to
      drive efficiency.
    </p>
    <p>
      On a fundamental level communities are not factories, and if we try to
      measure and manage them like factories they break. To understand why,
      think about a relationship that has profoundly shaped your life. Was it
      predictable? Did it efficiently do exactly the thing you wanted it to do
      or did it surprise you and change what you wanted? Could you have, at the
      beginning of the relationship, established a concrete measurable goal and
      then used that goal years later to understand the relationship’s success?
    </p>
    <p>
      This unpredictability is a fundamental property of all relationships. The
      more effective we are at building relationships, the less ability we have
      to predict exactly what they’ll look like. An ideal factory is predictable
      and tightly controlled, but engaging in relational work requires us to
      abandon predictability and relinquish control. This does not mean that
      successful communities descend into chaos. There are ways to reliably
      create strategically aligned outcomes that are unknowable at the outset.
      To chart a path to them, we need to think about data less like managers of
      a factory and more like stewards of an ecology.
    </p>
    <p>
      There’s nothing wrong with establishing a goal related to a community and
      tracking it. It can be helpful for a political campaign to know how many
      phone calls were made or for an alumni network to know how many people
      donated. But if we make that goal the only thing that matters and put it
      on a graph, then we begin treating the community like a factory. When
      phone bankers come to us with a plan to mobilize support in their churches
      we’ll brush them off and tell them to get back to work. When the
      relationships in the community surprise us, which is what they must do if
      they are to thrive, we’ll see it as inefficiency and wrench them back into
      place. Relational data practice is about moving these surprises to the
      center of our work.
    </p>
    <h2>What to measure when we measure relationship</h2>
    <p>
      Relationships have a life of their own. If two people connect through a
      community most of the life of that connection will happen outside of that
      community. They’ll meet up for coffee, become friends and start inviting
      one another to cookouts. This blossoming around a community is a powerful
      sign of health, but most organizers only learn about it anecdotally.
    </p>
    <p>
      Relational data practice lets an organization get systemic about
      understanding what is happening around their gatherings because of their
      gatherings. This creates a detailed picture of where the community is
      healthy, where it has the potential to grow, and where it holds emerging
      strategic opportunity.
    </p>
    <p>
      To collect these data I like to ask questions that highlight different
      phases of a relationship’s lifecycle:
    </p>
    <div class="example">
      <h3>Gathering</h3>
      <p>
        How often are people who met through the community spending time
        together outside of it? Who is meeting up and what are they spending
        that time doing and talking about?
      </p>
      <h3>Care</h3>
      <p>
        How often are people who met through the community meaningfully
        supporting one another? Who is offering that support and what does it
        look like?
      </p>
      <h3>Action</h3>
      <p>
        How often are people who met through the community envisioning and
        taking actions that support the community’s values? Who is involved and
        what actions are they taking?
      </p>
      <h3>Conflict</h3>
      <p>
        How often are people who met through the community working through
        conflict together? What is the story of these conflicts, are they
        generative or are they pulling the community apart?
      </p>
    </div>
    <hr />
    <p>
      When people are new to a community gathering is a sign that they are
      becoming more deeply engaged. Once gathering, care is a sign that the
      relationships are maturing and becoming meaningful. Once care is
      happening, action is a sign that people feel a sense of shared values and
      purpose and feel supported enough to act on them.
    </p>
    <p>
      Conflict tells a subtler but critically important story. Communities with
      no conflict are often brittle, we want to see signs of generative
      disagreement to know that the community is resilient. These conflicts also
      shape what the community will prioritize. At their core many conflicts are
      about values, and understanding how those values are expressed and
      prioritized lets us know what the community will and won’t do. For
      example, a community who has had a series of debates in which open source
      principles have won out is likely to produce open source software and
      unlikely to produce patents.
    </p>
    <p>
      Observing where these relational lifesigns exist and where they don’t
      creates a nuanced picture of where a community is in its growth, how
      organizers can show up to nurture it, and why funders should invest in its
      potential.
    </p>
    <h2>How to collect relational data</h2>
    <p>
      Every community looks different, and organizations which build community
      have widely divergent systems for managing data. There is no universal
      best practice for collecting relational data, but there are a set of
      principles that are helpful for shaping a data practice that works.
    </p>
    <div class="text-green context-heading">
      Principle
      <h3>Meet people where people are with short, open-ended surveys.</h3>
    </div>
    <p>
      When someone is just getting to know a community learning a new digital
      platform can be a major barrier. If you are organizing professionals who
      are used to Slack, have them communicate on Slack and collect data from
      there. If people are comfortable on WhatsApp, use WhatsApp. If they
      primarily meet in person and aren’t comfortable with a shared digital
      platform use SMS or email.
    </p>
    <p>
      On this platform, find a way to target people with one-question surveys
      that are quick to respond to. Because you know who you are sending each
      survey to you can correlate the answers over time, creating a clearer
      picture of your community without relying on long surveys that generate
      fatigue.
    </p>
    <div class="example">
      <span class="text-muted">Example</span>
      <h4>Gathering Surveys</h4>
      <p>
        After an event, create a simple, one-question survey that is
        automatically sent out over whatever channel your community finds most
        comfortable: email, SMS, WhatsApp, Slack, etc. Ask “have you had or do
        you plan to have a followup conversation with anyone you met at our
        event?” If they say yes, send optional followup questions to ask who the
        conversation is with and what it will be about. Associate the answers
        with their contact records in your CRM and create a feed of information
        about followup conversations tied to the event.
      </p>
    </div>
    <div class="text-green context-heading">
      Principle
      <h3>Pay attention to what’s happening in the margins.</h3>
    </div>
    <p>
      Often the relational magic happens after an event is formally ended.
      Volunteers chatting at the snack table after a training, delegates hanging
      at the bar after a conference, members of a congregation engaging in
      fellowship after services. Relational data practice often focuses on these
      spaces more than on the core programming that an organization puts
      together, because in these spaces people are free to make their own
      decisions and those decisions reveal how relationships are forming.
    </p>
    <div class="example">
      <span class="text-muted">Example</span>
      <h4>Afterspace Analysis</h4>
      <p>
        After an event, invite people to a place where they can connect. Ideally
        have food, though with the right strategy these afterspaces can exist
        virtually as well. Pay attention to how many people stay and how long
        they stay. Find ways to debrief with staff and community leaders about
        the interesting conversations they had and capture summaries of those
        conversations wherever your organization stores data.
      </p>
    </div>
    <div class="text-green context-heading">
      Principle
      <h3>Get conversation reports from staff and community leaders.</h3>
    </div>
    <p>
      Often the best information about your community sits in the heads of its
      leaders: your organization’s staff who focus on community, and emerging
      leaders who are hubs of relationship. Collecting this information in a
      systematic way can be burdensome however, it can happen through
      one-on-ones or by requiring people to fill out regular reports, but this
      can feel burdensome. Instead it can be powerful to let leaders signal an
      organization’s leadership in their conversations with one another.
    </p>
    <div class="example">
      <span class="text-muted">Example</span>
      <h4>Conversation Report Bot</h4>
      <p>
        Create a channel wherever these leaders like to communicate with one
        another (Slack, SMS, etc) and invite them to use it to share stories
        about interesting conversations that they’re having in the community
        with one another. Then add a bot to that channel which listens for any
        message with a hashtag. If a staff member or leader thinks that a
        conversation is significant they can use a hashtag when they share it.
        If they do, the bot will read the conversation, associate it with the
        records of anyone mentioned (e.g. “I had a great conversation with
        Alicia Martinez…”) and log it in your organization’s CRM. Any statements
        without hashtags will be ignored by the bot, so that leaders have
        control over what is observed.
      </p>
    </div>
    <div class="text-green context-heading">
      Principle
      <h3>Weave data collection into the practice of organizing.</h3>
    </div>
    <p>
      Data about relationship flows through relationship. Often the information
      your organization has access to is shaped by the trust you have built with
      the community around you. For this reason data collection is most
      effective when it is tied to an offering that builds the strength of the
      community in some way. Avoid clinical surveys that break a sense of
      community or opaque surveillance that can erode a sense of trust.
    </p>
    <div class="example">
      <span class="text-muted">Example</span>
      <h4>Care Storybanking</h4>
      <p>
        Once a year, use the platform VideoAsk to record a message from a
        community leader expressing gratitude for everything that the community
        has done. At the end of the video, ask people to share stories of times
        that they have felt cared for by other people in the community. Accept
        answers in video format (or audio or text, depending on what your
        community finds accessible) and weave them together to reflect back to
        the community at a time of celebration. Share this video with funders.
        Also pay attention to where these stories come from and to who is
        mentioned in them to craft a picture of how care in the community is
        happening, follow up to build relationships with people offering care.
      </p>
    </div>
    <h2>How to store, analyze, and interpret relational data</h2>
    <p>
      Organizations differ in where they keep data. Some use sophisticated tools
      like Salesforce, others get by on Google sheets and the knowledge in
      people’s heads. Data needs to move from the kind of methods mentioned
      above to some place where it can offer insight into what is happening
      across the community. This could be a CRM, though for small organizations
      lightweight tools like Airtable or Notion can work as well.
    </p>
    <h3>Moving Data</h3>
    <p>
      Ideally a bare minimum of relational data is entered into a CRM directly.
      Instead, data moves through API integrations. In some cases these can be
      managed with no-code tools like Zapier, in other cases Relationality Lab
      will write custom integration code (e.g. for more complex bots). We are in
      the process of refining the most useful of these integrations to publish
      as open source tools.
    </p>
    <h3>Heatmaps and Stories</h3>
    <p>
      As you collect data about who is gathering outside of your events, who is
      caring for one another and who is having conversations with staff your
      contact database will begin to become a heatmap of activity. Instead of an
      archive of mostly-equivalent names and email addresses you will be able to
      easily sort and filter to see who in your community is most relationally
      active, then click in further to see a feed telling the story of that
      relationship. Every week, senior staff will be able to glance at a
      succinct dashboard of the most relevant emerging trends and relational
      opportunities from across their community, while organizers close to the
      ground will be able to make informed decisions about which areas of
      relational opportunity to invest in.
    </p>
    <h3>Reporting to Funders</h3>
    <p>
      Relational data can help to craft a story about proficiency, possibility,
      and progress while giving communities room to maintain control of their
      destiny and operations. By showing, for example, that a community has a
      powerful track record of creating gathering and care around a particular
      set of values but has yet to meaningfully translate that potential into
      action organizers can let funders know why they are trustworthy and how
      investment can unlock enormous potential. In this way relational data can
      be a powerful tool for building trust between funders and grantees. It
      gives funders a way to understand that impact is happening and justify it
      to their boards without needing that impact to be predictable or precisely
      controlled. This allows funders to center the needs and strategic
      objectives of the communities they fund while maintaining a clear
      understanding of how their funding is generating impact.
    </p>
    <h2>Getting Started</h2>
    <p>
      Any organization which builds community already has a strategy for dealing
      with relational data, even if that strategy has emerged haphazardly. At a
      minimum a few people maintain context in their heads, a few spreadsheets
      of names and phone numbers float around in ways that may or may not be
      useful. Getting better is about improving on these systems to generate
      meaningful insights about how a community is growing and how organizers
      can show up to make it better. By looking at where relationships are
      happening and where stories about those relationships can be captured,
      communities can begin to paint a picture that can be transformative.
    </p>
  </div>
  <div>
    <p class="text-green text-center mt-60">
      <b><i>Want to learn more? We're happy to advise or work with
        organizations working to build communities that drive change.</i></b>
    </p>
  </div>
</section>
