<header>
      <div id="video-overlay" > </div>
        <video id="background-video" autoplay loop muted poster="img/rml_bg_poster.jpg">
          <source src="img/rml_bg.mp4" type="video/mp4">
        </video>
      <div class="header-content">
        <div class="header-content-inner text-light-grey">
            <h1>Let’s support & fund <br/> <span class="text-white">relational work</span><br/> so that <br/><span class="text-white">movements can thrive</span></h1>
        </div>
    </div>
</header>
