<header>
      <span class="sr-only">A large and joyful outdoor gathering. Photo by Samantha Gades</span>
      <div class="header-content">
        <div class="header-content-inner text-grey">
          <div class="header-text-panel">
              I help <span class="text-light-green light-bold">people</span><br/>
              who nurture <span class="text-light-green light-bold">relationships</span> <br/> 
              that drive <span class="text-light-green light-bold">change</span><br/> 
              prove that their work has <span class="text-light-green light-bold">impact.</span>
          </div>
        </div>
    </div>
</header>
