<header>
      <div class="header-content">
        <div class="header-content-inner text-grey">
          <div class="col-lg-4"><img src="/img/plant_measurement.png" alt="A person holding up a ruler to measure a plant."/></div>
          <div class="col-lg-6">
            <h1 class="text-light-green light-bold" style="font-size: 50px">Relationality Lab</h1>
            <h2>We help <span class="text-light-green light-bold">people</span><br/>who nurture <span class="text-light-green light-bold">relationships</span> <br/> that drive <span class="text-light-green light-bold">change</span><br/> prove that their work has <span class="text-light-green light-bold">impact.</span></h2>
          </div>
        </div>
    </div>
</header>
