<section class="bg-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white" style="font-size: 50px">Relationality Lab</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">We seek to <span class="text-white">better understand relational work</span> in social movements so that it can be effectively <span class="text-white">celebrated, supported, and resourced</span>.</p>
                <p class="text-light-grey subtitle">We are a grassroots effort that brings together community organizers, institutional funders, and academic researchers interested in collaborating around this goal. We center the needs of organizers in our shared work.</p>
                <a href="#" class="btn btn-default btn-xl">Join Our Newsletter</a>
            </div>
        </div>
    </div>
</section>
