<section class="bg-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white" style="font-size: 50px">Relationality Lab</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">We help movement organizations that center relationship mobilize resources with data.</p>
                <p class="text-light-grey subtitle">Though our work is relevant to many types of community, we center organizers in movements for justice and liberation.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <form id="newsletterForm">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" id="emailInput1" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Join our Newsletter</button>
                </form>
                <div id="newsletterThanks" style="display:none;">
                    <p class="text-white">Thanks! We'll send our periodic updates as our work progresses.</p>
                </div>
            </div>
        </div>
    </div>
</section>
