<section class="bg-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white" style="font-size: 50px">Relationality Lab</h2>
                <hr class="light">
                <p class="text-light-grey subtitle">We research the <span class="text-white">operations and resourcing of relational movements</span> to help organizers thrive in their work.</p>
                <p class="text-light-grey subtitle">We are a grassroots effort that brings together <span class="text-white">relational organizers, movement funders, and scientific researchers</span> interested in collaborating around this goal, centering the needs of organizers in our shared work.</p>
                <a href="https://lu.ma/relationalitylab" class="btn btn-default btn-xl">Join Our Network</a>
            </div>
        </div>
    </div>
</section>
