<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Premise</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-6x fa-earth-africa wow bounceIn text-blue" alt="Earth"></i>
            </div>
            <div class="col-lg-8">
                <div>
                    <h3>The World Needs Relationships</h3>
                    <p class="text-muted">Failing to invest in relationships undermines public health, education, and the fabric of our democracy. Without investment in relationships the movements we desperately need to fight for racial equity, climate resilience and economic justice are doomed to fail. Wherever we effectively invest in relationships our communities will thrive and our movements will give us cause for hope.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                  <i class="fa fa-6x fa-people-group wow bounceIn text-dark" data-wow-delay=".1s" alt="Group of people"></i>
            </div>
            <div class="col-lg-8">
                    <h3>Relationships Take Work</h3>
                    <p class="text-muted">Humans can form relationships anywhere, but it’s often a struggle. Many people are skilled at helping this process along: through food, facilitation, emotional support, and a thousand other strategies. This relational labor cannot be automated or massively centralized, it must be performed in an intimate setting by someone who understands local context. In order to invest in relationships we must meaningfully resource this relational work.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-6x fa-heart-crack wow bounceIn text-red" data-wow-delay=".2s" alt="Broken heart"></i>
            </div>
            <div class="col-lg-8">
                  <h3>Relational Work is Often Invisible and Underresourced</h3>
                  <p class="text-muted">Relationships are, by nature, generative and unpredictable. They do not conform to key metrics or quarterly goals, instead generating resilience and new possibilities. This makes it difficult to tell a funder what the impact of relational work will be ahead of time, and makes it difficult for people to know if relational work is effective unless they benefit from it directly. Relational work is also disproportionally performed by people of color, women, queer people and people with disabilities. As a result relational work critical to our collective long term survival often receives little to no material support from outside of the communities it benefits.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                  <i class="fa fa-6x fa-eye wow bounceIn text-purple" data-wow-delay=".3s" alt="Eye"></i>
            </div>
            <div class="col-lg-8">
                  <h3>If This Work Became Visible, It Could Receive The Support It Needs</h3>
                  <p class="text-muted">What if those of us who work to build relationships could point to conclusive evidence that our work is impactful? What if people who wanted to invest in everything from public health to education to climate resilience could direct their funding not just to new buildings, but to provably effective strategies for building human connection? By fostering a dialogue about what relational work is, what it needs to thrive and how to tell when it is making an impact, Relationality Lab hopes to create a world where people doing relational work can survive and thrive, everyone has regular access to human connection, and thriving movements meet the challenges or our century.</p>
              </div>
            </div>
        </div>
</section>
