<div id="research-header" class="subpage"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="svg_icon" src="./img/noun-gratitude.svg"/>
                <h2 class="section-heading" style="font-size: 50px">Research</h2>
                <p class="text-muted">Relationality Lab develops novel methodologies for combining stories and data to demonstrate the impact of relational work.</p>
            </div>
        </div>
    </div>
</section>
<section id="central_questions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Central Questions</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div>
                    <h3>What is a relationship?</h3>
                    <div class="iframeContainer mb-40">
                      <iframe class="relational-model" src="https://davidgljay.github.io/relvis-embeddable/?vis=reldefinition" title="Mathematical model of a relationship forming." width="100%" height="195px" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
                      <div class="fig-text">Relationships exist whenever we change one another in ways that persist over time.</div>
                    </div>

                    <div>
                      <p>To understand and resource relational work we must understand what relationships are and under what conditions they form and thrive. The model of relationality presented here is one of many that are valid, it can be especially helpful for understanding where relational work is having an impact and what support it needs to do so.</p>
                      <p><b class="text-dark">Relationships exist when we change one another.</b> If two people meet and change one another slightly, they have begun a relationship. If they continue to change one another they have an ongoing relationship. The greater that change, the more powerful the relationship has become. This change could be transformational, like a trans kid finding support, or it could be resilient, like a community rallying around an elder facing eviction. In most relationships, transformative and resilient change are deeply interwoven.</p>
                      <p>Relationships exist in and connect us to the more than human world. A human can have a relationship with an animal, an animal can have a relationship with a plant, a plant can have a relationship with a rock, and a rock can have a relationship with the seasons. Wherever things change one another, relationships exist. Our bodies can be seen as a large collection of organs, but they can just as validly be seen as a collection of relationships between organs, which are themselves made up of relationships between proteins, which are in turn made up of relationships between molecules, which are relationships between atoms, and so on. This relational lens sees relationships, rather than the entities where they intersect, as the primary agents defining and shaping reality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div>
                    <h3>What is relational work?</h3>
                    <div class="iframeContainer mb-40">
                      <iframe id="relstructure" class="relational-model" src="https://davidgljay.github.io/relvis-embeddable/?vis=relstructure" title="Mathematical model illustrating relational structure." allowfullscreen="allowfullscreen" frameborder="0"></iframe>
                      <div class="fig-text">Relationships tend to form more quickly in small clusters than in large open groups.</div>
                    </div>
                    <p>Some environments are better at generating and maintaining relationships than others. A community that trusts one another gathering to share a meal is more relational than, say, Twitter. In a relational environment new connections are effortless, conflicts resolve in generative ways, and creative power is unleashed. In an arelational environment all of these things can still happen, but they are a lot harder and a lot less likely.</p>
                    <p>Creating and maintaining relational environments requires a particular kind of skilled labor. People with this skill can see where powerful relationships could exist and create the conditions to let them emerge. They can see where important relationships are at risk, and provide the care necessary for them to keep them resilient. Relational work might look like planning events and facilitating workshops, or it might look like cooking someone their favorite meal when they are sick. Though relational work often manifests as acts of care, it is the deep understanding behind those acts that makes it effective.</p>
                    <p>Imagine an elder who is part of a multi-general community that provides meaningful care and support. Now imagine the same elder in a corporate chain of senior homes which provide care based on a uniform set of policies. Both provide care, the care in the senior home may be better resourced and more technologically sophisticated, but the community is providing significantly more relational work.</p>
                    <p>Effective relational work requires a deep understanding of the local environment and a mind capable of seeing how relationships might change within it. A software platform, even one with the most sophisticated machine learning tools, cannot perform this work (though it might support those performing it), nor can one person perform it meaningfully for a community of thousands. Relational work requires many humans working at a human scale who are accountable to the communities they serve.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div>
                    <h3>How might we support relational work?</h3>
                    <div class="iframeContainer mb-40">
                      <iframe id="relprediction" class="relational-model" src="https://davidgljay.github.io/relvis-embeddable/?vis=limitstoprediction" title="Mathematical model of a relationship forming." allowfullscreen="allowfullscreen" frameborder="0" overflow="none"></iframe>
                      <div class="fig-text">The better a system is at forming relationships, the harder it becomes to predict.</div>
                    </div>
                    <p>It is common for large institutions to allocate resources based on return on investment (ROI). To understand the ROI of an investment, institutions must be able to predict the outcome of that investment ahead of time: the investment will result in a certain number of voters contacted, children educated, etc.</p>
                    <p>Relational environments defy this sort of prediction, making ROI-based thinking a poor strategy for investing in relational work. To understand how to resource relational work, we must understand how predictions about relational systems differ from predictions about more static systems like jet engines and computer programs.</p>
                    <p>In a jet engine relationships are designed to be static. Every part changes the part around it in ways that are predictable and repeatable. In a relational system like a social movement our goal is for new relationships to form, and for the parts of the system to change one another in new ways. These changes compound on one another, making prediction impossible. The more we are achieving our goal of building a relational movement, the faster our ability to predict drops away. We sometimes refer to this paradox as the <b class="text-dark">curse of transactionality</b>.</p>
                    <p>The curse of transactionality means that we cannot think about relational systems in terms of ROI, because it is physically impossible to know what the return on our investment will be. If we require a community or movement to optimize for a predictable outcome then we severely undermine its ability to be relational.</p>
                    <p>This is not to imply that all prediction about relational systems is impossible. We can often predict that a good conversation will happen without being able to predict where it will end (if we can predict where it will end then often it’s not a good conversation.) Similarly, we can predict that an environment will be relational without predicting where that relationality will lead.</p>
                    <p>Relatively little scholarship exists on this kind of relational prediction, even though many in social movement contexts are extremely skilled at it. What does exist in fields like social psychology and conflict studies relies on very different framing and stated goals. The Relationality Lab seeks to better understand the dynamics of relational prediction both through the modeling and measurement of relational systems and through lifting up movements and communities where relational work is flourishing. In doing so, we hope to be able to help those with access to resources understand where relational work is happening so they can support it.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div>
                    <h3>How can we tell where powerful relationships are forming?</h3>
                    <div class="iframeContainer mb-40"><iframe class="relational-model" src="https://davidgljay.github.io/relvis-embeddable/?vis=relgraph" title="Mathematical model of a relationship with charts demonstrating relational measurement." width="100%" height="480px" allowfullscreen="allowfullscreen" frameborder="0"></iframe></div>
                    <p>When we are in a room where relationships are forming we can usually feel it. Our bodies and minds light up as we feel ourselves being changed by the community around us. If we are not in the room or not part of the community then we need to trust stories from people who are in the room.</p>
                    <p>Historically large institutions such as foundations and political parties have been bad at extending this trust, dismissing stories about relational impacts as anecdotal. Our research seeks to build new methodologies for telling stories about relationships with data so that it is easier for those performing relational work to gain the trust of people outside of their communities.</p>
                    <p>Recall the definition of a relationship provided above: a relationship exists wherever entities in the universe change one another. This is equivalent to saying that a relationship exists wherever two or more entities exchange information. By defining relationships as a dynamic exchange of information, we can utilize several well-established scientific tools from fields such as information theory, nonlinear dynamics, and evolutionary systems modeling to study relational systems.</p>
                    <p>These tools can never give us the rich detail that comes from stories about a community or direct participation in a community, but they can be useful. They can provide a sort of heat map, showing (for example) which chapters in a global network are most effective at building trust. They can provide proof points, hard-to-fake metrics which demonstrate that an organizer is effective at helping members of her community connect.</p>
                    <p>When developing these methodologies, Relationality Lab is cautious about how they might be utilized for the surveillance and repression of movements, rather than the support of them. The data necessary for relational measurement must be controlled by the communities where relationships are happening, and shared only in ways that are sufficiently anonymized and consentful. To observe a relationship, we must observe how people are changed. Knowledge about how someone is being changed exists within their body and can be shared with those that they trust. To understand relationships without destroying them, we must honor that trust and the work it takes to build it.</p>
                </div>
            </div>
        </div>
</section>
