<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Premise</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-4x fa-earth-africa wow bounceIn text-primary"></i>
            </div>
            <div class="col-lg-8">
                <div>
                    <h3>We Need Relationships</h3>
                    <p class="text-muted">Failing to invest in relationships undermines public health, education, and the fabric of our democracy. Without investment in relationships the movements we desperately need to fight for racial equity, climate resilience and economic justice are doomed to fail. Wherever we effectively invest in relationships our communities will thrive and our movements will give us cause for hope.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                  <i class="fa fa-4x fa-people-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
            </div>
            <div class="col-lg-8">
                    <h3>Relationships Take Work</h3>
                    <p class="text-muted">Humans can form relationships anywhere, but it’s often a struggle. Many people are skilled at helping this process along: through food, facilitation, emotional support and a thousand other strategies. This relational labor cannot be automated or massively scaled, it must be performed in an intimate setting by someone who understands local context. In order to invest in relationships we must meaningfully resource this relational work.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-4x fa-heart-crack wow bounceIn text-primary" data-wow-delay=".2s"></i>
            </div>
            <div class="col-lg-8">
                  <h3>Relational Work is Often Invisible and Under Resourced</h3>
                  <p class="text-muted">Relationships are, by nature, generative and unpredictable. They do not conform to key metrics or quarterly goals, instead generating resilience and new possibilities. This makes it difficult to tell a funder what the impact of relational work will be ahead of time, and makes it difficult for people to know if relational work is effective unless they benefit from it directly. Relational work is also disproportionally performed by women, people of color, queer people and people with disabilities. As a result relational work critical to our collective long term survival often receives little to no material support from outside of the communities it benefits.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                  <i class="fa fa-4x fa-ruler wow bounceIn text-primary" data-wow-delay=".3s"></i>
            </div>
            <div class="col-lg-8">
                  <h3>If We Measure Relationships, We Can Resource Relational Work</h3>
                  <p class="text-muted">What if those of us who work to build relationship could point to conclusive evidence that our work is impactful? What if people who wanted to invest in everything from public health to education to climate resilience could direct their funding not just to new buildings, but to provably effective strategies for building human connection? Relational measurement is an evolving methodology that seeks to provide such evidence through a combination of diverse perspectives including community organizing, evolutionary ecology, information theory and narrative storytelling.  At its heart, relational measurement relies on a definition inspired by Octavia Butler: a relationship exists wherever two or more entities change one another.</p>
              </div>
            </div>
        </div>
</section>
