<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Premise</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-6x fa-earth-africa wow bounceIn text-blue"></i>
            </div>
            <div class="col-lg-8">
                <div>
                    <h3>The World Needs Relationships</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet arcu id enim elementum. Odio duis sed pulvinar tristique nullam lacus non justo. Convallis semper porttitor et cursus sollicitudin duis praesent morbi duis proin at enim. Viverra euismod in congue vitae vestibulum malesuada fusce eleifend cursus erat maecenas dictum interdum. Sagittis labore nisl dictumst gravida neque eu nec augue convallis cursus nullam pretium lobortis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                  <i class="fa fa-6x fa-people-group wow bounceIn text-dark" data-wow-delay=".1s"></i>
            </div>
            <div class="col-lg-8">
                    <h3>Relationships Take Work</h3>
                    <p class="text-muted">Sapien feugiat consequat non condimentum quisque tortor rhoncus laoreet eu suspendisse pretium. Arcu condimentum pulvinar fames malesuada tempor imperdiet malesuada. Ornare platea consectetur mi mollis neque proin ac incididunt maecenas dui fames lectus vulputate lacinia. Labore dui morbi maecenas augue lacus cras eget fermentum. Aliquet sed massa dictumst malesuada euismod aenean cursus rhoncus consectetur pretium integer.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                    <i class="fa fa-6x fa-heart-crack wow bounceIn text-red" data-wow-delay=".2s"></i>
            </div>
            <div class="col-lg-8">
                  <h3>Relational Work is Often Invisible and Underresourced</h3>
                  <p class="text-muted">Lorem ipsum dolor sit amet mollis hendrerit ultrices sollicitudin facilisi tempor facilisis. Viverra mauris congue tortor tellus eget lobortis leo. Imperdiet do odio cras praesent bibendum et adipiscing ullamcorper praesent curabitur consectetur lacus donec dui. Etiam hac volutpat fermentum phasellus mattis volutpat vulputate habitasse integer eiusmod augue viverra suspendisse. Labore magna lacus ornare quis phasellus leo praesent.
Eros dapibus etiam tempus platea ultrices dapibus eget mattis. Incididunt nibh erat non eleifend quis tellus mi eu at aliqua. Elementum cursus pulvinar erat purus urna dictumst curabitur eiusmod platea netus quis. Ultricies vivamus elit tortor tincidunt ullamcorper sed mollis erat dictumst. Incididunt labore habitasse tortor cursus ullamcorper elit vitae elit ultrices sagittis.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                  <image class="svg_icon fill-green wow bounceIn" data-wow-delay=".3s" src="./img/noun-abacus.svg"/>
            </div>
            <div class="col-lg-8">
                  <h3>If We Measure Relationships, We Can Better Resource This Work</h3>
                  <p class="text-muted">Lorem ipsum dolor sit amet hac molestie cursus gravida eleifend et sollicitudin auctor nulla. Nibh proin vulputate odio massa non labore tempus ultricies suspendisse. Ut euismod luctus ornare phasellus arcu aliqua aliquam faucibus sed tristique. In quis hendrerit euismod netus pharetra pulvinar dapibus viverra venenatis pellentesque porta. Sollicitudin tincidunt massa habitasse dui fringilla auctor fermentum sagittis eleifend.

Dui scelerisque egestas ultricies arcu in turpis porttitor ornare aenean egestas sagittis ac a molestie. Fringilla mauris cras non hendrerit feugiat nunc tristique. Dapibus porttitor dui incididunt etiam senectus etiam urna at lectus. Consequat scelerisque netus ullamcorper diam aliquam dictumst vulputate purus leo. Elit etiam eleifend porttitor et sed fermentum cras sodales quis incididunt facilisis massa pulvinar quisque.</p>
              </div>
            </div>
        </div>
</section>
