<section class="bg-green" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="img/rlab_plant_fancy.png" class="img-fluid" style="width:300px" alt="Picture of a plant with roots in the shape of a heart">
            </div>
            <div class="col-lg-6 text-left">
                <h2 class="section-heading text-white text-center">Our Story</h2>
                <hr class="light">
                <p class="text-white">Relationality Lab was founded out of a deep frustration with the way that relational work is often rendered invisible and under resourced.</p> 
                <p class="text-white">In the midst of a global loneliness crisis we need this work more than ever: to create connection and care, to strengthen democracies across the globe, and to grow movements capable of addressing the climate crisis and systemic inequity.</p> 
                <p class="text-white">We work towards a future where people who do the work of relationship are recognized and resourced for the value that they create. To get there, we help institutions understand and invest in relational outcomes.</p>
            </div>
        </div>
    </div>
</section>
