<section class="bg-green" id="story">
    <div class="container">
        <div class="row wrap-reverse" >
            <div class="col-lg-8 text-left">
                <h2 class="section-heading text-white text-center">My Roots Are In Community</h2>
                <hr class="light">
                <p class="text-white"><b>For over 25 years I have helped lead communities that have changed the world.</b></br>
                    <br>In 2001 I founded the world’s largest community of people who identify as asexual and demisexual, building a thriving grassroots organization that has shifted public understanding and touched the lives of millions.</br>
                    <br>As a senior leader in the tech reform movement I have helped parent advocates, youth leaders and tech workers build relationships with the power to move the world’s largest and most powerful social media and AI companies. </br>
                    <br>I regularly support leading NGOs, mission-driven companies, and philanthropic funders making strategic investments in communities that drive change. As the author of the award-winning book, <i>Relationality</i>, I regularly give talks and lead workshops on the power of investing in community.</br> 
            </div>
            <div class="col-lg-4 text-center">
                <img src="img/dj_wideshot.jpg" class="img-fluid" alt="Photo of David Jay smiling.">
            </div>
        </div>
    </div>
</section>
