<div id="tools-header" class="subpage" alt="Picture of gardening tools"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="svg_icon" src="./img/noun-watering-can.svg" alt="watering can"/>
                <h2 class="section-heading" style="font-size: 50px">Tools</h2>
                <p class="text-muted">Relationality Lab explore practical strategies for operationally supporting relational work with technology. We publish best practice guides and host skillshares on supporting relational operations.</p>
            </div>
        </div>
    </div>
</section>
<section id="central_questions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We Help Relational Movements With</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 text-center">
                  <i class="fa fa-6x fa-handshake wow bounceIn text-green" alt="handshake"></i>
          </div>
          <div class="col-lg-8">
              <div>
                  <h3>Welcoming</h3>
                  <div>
                    <p>How might new members of a community show up, learn the community’s values and make a first friend?</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
                  <img class="svg_icon" src="./img/noun-stairs.svg" alt="Stairs with an up arrow"/>
          </div>
          <div class="col-lg-8">
              <div>
                  <h3>Leadership Development</h3>
                  <div>
                    <p>How might emerging leaders in a community be identified, supported, and invited into shared governance?</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
                  <img class="svg_icon" src="./img/noun-vote.svg" alt="Hand voting"/>
          </div>
          <div class="col-lg-8">
              <div>
                  <h3>Coordination and Governance</h3>
                  <div>
                    <p>How might leaders in a community stay informed about one another’s work and make shared decisions when necessary?</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
                  <img class="svg_icon" src="./img/noun-storytelling.svg" alt="Megaphone and voice bubble"/>
          </div>
          <div class="col-lg-8">
              <div>
                  <h3>Storytelling</h3>
                  <div>
                    <p>How might leaders use stories and data to demonstrate the impact of their work and mobilize further support?</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
                  <i class="fa fa-6x fa-sack-dollar wow bounceIn text-green" alt="Bag of Money"></i>
          </div>
          <div class="col-lg-8">
              <div>
                  <h3>Resourcing</h3>
                  <div>
                    <p>How might leaders within a community be equitably supported with resources?</p>
                  </div>
              </div>
          </div>
        </div>
</section>
<section id="we-value">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">We Prioritize Tools Which Are</h2>
              <hr class="primary">
          </div>
      </div>
      <div class="col-lg-3 text-center">
              <img class="svg_icon" src="./img/noun-teddy.svg" alt="Teddy Bear"/>
      </div>
      <div class="col-lg-8">
        <h3>Familiar</h3>
        <p> A platform already regularly used by a community, such as WhatsApp, is often preferable to a more ideal platform with a learning curve.</p>
      </div>
      <div class="col-lg-3 text-center">
              <i class="fa fa-6x fa-coins wow bounceIn text-green" alt="Coins"></i>
      </div>
      <div class="col-lg-8">
        <h3>Affordable</h3>
        <p>Because those engaging in relational labor are often under-resourced, we focus on strategies involving existing free or low-cost technologies.</p>
      </div>
      <div class="col-lg-3 text-center">
              <i class="fa-solid fa-6x fa-wheelchair-move wow bounceIn text-green" alt="Wheelchair in motion"></i>
      </div>
      <div class="col-lg-8">
        <h3>Accessible</h3>
        <p>We emphasize strategies which operate according to web accessibility best practices, and support accessibility best practices in planning digital events.</p>
      </div>
      <div class="col-lg-3 text-center">
              <img class="svg_icon" src="./img/noun-milk.svg" alt="Milk Carton"/>
      </div>
      <div class="col-lg-8">
        <h3>Off The Shelf</h3>
        <p>Rather than building and maintaining our own software, we focus on recommending free or low-cost tools which can be easily configured to support relational work with our a sophisticated technical background. On occasion, we write easily implementable open source code to assist with configuring and syncing between these tools.</p>
      </div>
  </div>
</section>
<section class="bg-green" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white">Learn More</h2>
                <hr class="light">
                <p class="text-light-grey">To learn about best practices for supporting relational operations, please join our community.</p>
                <a id="contact" href="https://lu.ma/relationalitylab" class="btn btn-default btn-xl">Join Our Network</a>
            </div>
        </div>
    </div>
</section>
