<section id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="col-lg-4 text-center mb-40">
          <img src="./img/movement.png" alt="Three people holding a sign and smiling."/>
          <h3>Movement Strategy</h3>
          <div>
            How might your organization strategically invest in relationship? Who might you invite into relationship and how might you prepare for unpredictable but strategically relevant results? Is your organization already part of larger movements that share your values? How might participating in them further your mission? 
          </div>
          <div class="text-green mt-20">
            <i class="btn btn-disabled text-muted">Coming Soon</i>
          </div>
        </div>
        <div class="col-lg-4 text-center mb-40">
            <img src="./img/rel_ops.png" alt="A person arranging chairs at a table."/>
            <h3>Relational Operations</h3>
            <div>
              Once you know who you want to invite into relationship how do you create the conditions for those relationships to flourish? This requires an ecology of relational containers: large tentpole events interspersed with smaller more frequent gatherings. How do you build a robust ecology with limited resources?
            </div>
            <div class="text-green mt-20">
              <i class="btn btn-disabled text-muted">Coming Soon</i>
            </div>
        </div>
        <div class="col-lg-4 text-center mb-40">
          <img src="./img/datapractice.png" alt="A person holding a ruler next to a plant."/>
          <h3>Relational Data Practice</h3>
          <div>
            Once you’ve invested time and resources in building relationship how do you understand the impact of your work? How do you prove that impact to external stakeholders such as funders? How might we collect data about relational outcomes if those outcomes matter but cannot be predicted or controlled?
          </div>
          <div>
            <a href="/datapractice.html" class="btn mt-20" data-umami-event="datapractice-click">Learn More</a>
          </div>
      </div>
    </div>
</section>
