<section id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What I Do</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center mb-40">
            <img src="./img/book_mockup.png" alt="Copies of the book Relationality."/>
          </div>
          <div class="col-lg-8 text-left mb-40">
            <h3>Argue for Investment in Human Connection</h3>
            <div>
              <p>Anyone who wants to invest in real change needs to invest in the relationships that make that change possible. Science tells us, time and again, that investing in human connection is one of the most powerful strategies available for improving everything from public health to economic mobility to climate resilience. Yet all too often the work of building relationships is dismissed as soft and ethereal by funders focused on concrete, measurable impact.</p>
              <p>Through lectures and workshops, and the award-winning book Relationality, I help funders and community organizations understand the power of investing in human connection and develop concrete strategies for doing so.</p>
              <a href="https://relationalitybook.com" class="btn" target="_blank">Get The Book</a>
              <a href="https://relationality.substack.com/" class="btn" target="_blank">Subscribe on Substack</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center mb-40">
            <img src="./img/blue_heatmap.png" alt="A blue heatmap."/>
          </div>
          <div class="col-lg-8 text-left mb-40">
              <h3>Measure the Impact of Relational Work</h3>
              <div>
                <p>Our bodies often know when powerful connection is happening. We feel electricity when we're in a room where transformation and connection are occurring, but it can be difficult to convey this electricity with anything other than anecdotes. Powerful communities often struggle to demonstrate that power to outsiders.</p>
                <p>I arm communities with this proof so that they can more easily attract funds, tell the story of their impact to their members, and negotiate with decision makers. I do this by identifying and adapting scientifically proven measures which communities can integrate into their day-to-day operations. For example, the power of a community to create change is often tied to how frequently and meaningfully community members support one another. Its resilience, meanwhile, is often tied to how effectively community members engage in generative conflict.</p>
                <a href="https://relationality.substack.com/publish/post/190048722" class="btn" target="_blank">Read About Measuring Collective Care</a>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-40">
              <img class="img-responsive" src="./img/rhizal_logo.png" alt="A logo of phones connected by roots."/>
            </div>
            <div class="col-lg-8 text-left mb-40">
            <h3>Develop Tooling for Relational Measurement</h3>
            <div>
              <p>People building communities need more than frameworks; they need practical ways to collect data and make it useful. That's why I build practical, open source tools that make it easy to collect data and integrate it with an organization’s existing CRM. This tooling is designed to protect the privacy of communities and their members, and to integrate into the day-to-day work of convening people rather than feeling like a burden on community members.</p>
              <p>Our flagship tool, Rhizal, helps communities collect relational data, track member engagement over time, and translate that data into compelling evidence of impact. In addition to supporting impact measurement, it is designed to increase event participation and increase signups to paid community membership.</p>
              <a href="https://rhizal.chat" class="btn" target="_blank">Learn More About Rhizal</a>
            </div>
        </div>

        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="./#contact" class="btn btn-primary">Get in Touch</a>
            to explore how we might work together.
          </div>
        </div>
        
    </div>
</section>
