<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-4 text-center">
          <img class="svg_icon_md" src="./img/noun-graph-theory.svg"/>
          <h3>Theory</h3>
          <div>
            What, exactly, is a relationship? Understanding how relational work differs from transactional work allows us to build better supportive infrastructure and funding methodologies.
            <p class="mt-20"><a href="#">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fa-solid fa-4x fa-clipboard-check text-green"></i>
            <h3>Practice</h3>
            <div>
              We help organizations explore practical tools that facilitate relational work while consentfully collecting data and stories which demonstrate its impact.
              <p class="mt-20"><a href="#">Learn More</a></p>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fa-sharp fa-4x fa-solid fa-users-line text-green"></i>
            <h3>Convening</h3>
            <div>
              We bring together movement organizers, funders, and researchers to share best practices and discuss challenges related to relational measurement and resourcing.
              <p class="mt-20"><a href="#">Learn More</a></p>
            </div>
        </div>

    </div>
</section>
