<section id="who">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row mt-60">
          <div class="col-lg-2 col-lg-offset-2 text-center">
            <div class="circle-crop mx-auto">
              <img class="headshot" src="./img/headshot.png" alt="A headshot of a white man in his 40s"/>
            </div>
            <p>
              <b>David Jay</b><br/>
              <i class="text-muted">Founder</i>
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-muted">David’s movement roots begin in St. Louis, Missouri, where he practiced racial justice and LGBTQ+ organizing in high school. At the age of 18 he founded Asexuality.org, the world’s first major community of people identifying on the asexual spectrum, and began a career at the intersection of relational organizing and technology. He has contributed to software projects supporting post-publication scientific peer review, relational organizing in political campaigns, online brave spaces for LGBTQ+ young people, and comment systems at major news publications. Until recently he served as the Chief Mobilization Officer at the Center for Humane Technology, using relational tactics to bring together tech workers, policymakers, and survivors of harm to bring about systemic reform in the tech industry.</p>
            <p class="text-muted">For over a decade, David has explored ways to combine established approaches in complex systems science, information theory, and evolutionary theory to address novel challenges in the study of relational systems in social movements. David holds a BA in Sociology and Physics from Wesleyan University and an MBA in Sustainable Business from the Presidio Graduate School.</p>
          </div>
        </div>
    </div>
</section>
