<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="text-muted">Lorem ipsum dolor sit amet hac molestie cursus gravida eleifend et sollicitudin auctor nulla. Nibh proin vulputate odio massa non labore tempus ultricies suspendisse.
          </div>
        </div>
        <div class="row mt-60">
          <div class="col-lg-2 col-lg-offset-2 text-center">
            <div class="circle-crop mx-auto">
              <img class="headshot" src="./img/dj_headshot.jpg"/>
            </div>
            <p>
              <b>David Jay</b><br/>
              <i class="text-muted">Founder</i>
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-muted">I need a new headshot amet hac molestie cursus gravida eleifend et sollicitudin auctor nulla. Nibh proin vulputate odio massa non labore tempus ultricies suspendisse. In quis hendrerit euismod netus pharetra pulvinar dapibus viverra venenatis pellentesque porta. Sollicitudin tincidunt massa habitasse dui fringilla auctor fermentum sagittis eleifend.
          </div>
        </div>
        <div class="row mt-60 text-center">
          <h3 class="mb-40">Advisors</h3>
          <div class="col-lg-4 text-center">
            <div class="circle-crop mx-auto">
              <img class="headshot" src="./img/adatwist.jpg"/>
            </div>
            <p>
              <b>Ada Twist</b><br/>
              <i class="text-muted">Scientist</i>
            </p>
          </div>
          <div class="col-lg-4 text-center">
            <div class="circle-crop mx-auto">
              <img class="headshot" src="./img/rosie-revere.jpg"/>
            </div>
            <p>
              <b>Rosie Revere</b><br/>
              <i class="text-muted">Engineer</i>
            </p>
          </div>
          <div class="col-lg-4 text-center">
            <div class="circle-crop mx-auto">
              <img class="headshot" src="./img/iggypeck.png"/>
            </div>
            <p>
              <b>Iggy Peck</b><br/>
              <i class="text-muted">Architect</i>
            </p>
          </div>

        </div>

    </div>
</section>
